html, body {

    /*background: #f2f3e5; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg, #f2f3e5 0%, #f1f1e9 2%, #f2f2e8 2%, #eeeee2 3%, #eeeee2 3%, #f3f3e7 4%, #eeeee2 4%, #ecece0 6%, #f0f0e4 7%, #eaeade 8%, #edede1 8%, #efefe3 8%, #efefe3 9%, #ecece0 9%, #ecece0 9%, #f0f0e4 10%, #edede1 10%, #ebebdf 11%, #ecece2 11%, #eeeee6 11%, #edede5 12%, #f1f1e9 13%, #e9e9e1 13%, #efefe5 13%, #ecece0 14%, #ecece0 14%, #e8e8dc 14%, #eaeade 15%, #f7f7eb 15%, #f8f8ec 15%, #efefe5 15%, #eaeae2 16%, #f0f0e8 17%, #ecece4 17%, #f0f0e8 18%, #edede5 18%, #eeeee6 18%, #ebebe3 18%, #f0f0e8 19%, #ecece4 19%, #efefe7 19%, #eaeae2 20%, #edede5 22%, #e7e8e0 22%, #eaebe3 23%, #e7e8e0 23%, #ebece4 23%, #e7e8e0 24%, #e7e8e0 24%, #eaebe5 24%, #eaebe5 25%, #e7e8e2 26%, #e7e8e2 26%, #e9eae4 27%, #e8e7e2 27%, #ebeae5 27%, #e3e2dd 27%, #e6e5e0 28%, #e1e0db 28%, #e3e2dd 28%, #e2e1dc 29%, #e5e5dd 29%, #e2e2da 29%, #e7e7df 30%, #e9e9e1 31%, #e7e6e1 31%, #e9e8e3 32%, #e4e3de 32%, #e9e8e3 32%, #e4e3de 33%, #e7e6e1 34%, #e0dfda 34%, #e3e2dd 34%, #e4e3de 34%, #e9e8e3 34%, #eae9e4 37%, #e6e5e0 37%, #e9e8e3 37%, #e6e5e0 38%, #ebeae6 38%, #e7e6e2 38%, #e9e8e4 39%, #e6e5e1 39%, #e8e7e3 42%, #e3e2de 43%, #e9e8e4 44%, #e7e6e2 44%, #e9e8e4 44%, #e6e5e1 45%, #e8e7e3 45%, #e6e5e1 45%, #e8e7e3 45%, #e6e5e1 46%, #e7e6e2 48%, #e3e2de 48%, #e4e3df 49%, #e2e1dd 49%, #e5e6e1 49%, #e2e3de 50%, #e4e5e0 50%, #e1e2dd 50%, #e6e7e2 51%, #e4e3df 53%, #e2e1dd 53%, #e7e6e2 54%, #e2e3dd 56%, #e4e5df 56%, #e2e3dd 57%, #e7e8e2 57%, #e3e4de 58%, #e6e7e2 59%, #e2e3de 60%, #e8e7e3 60%, #e2e1dd 61%, #e6e5e1 61%, #e3e2de 62%, #e7e6e2 62%, #e1e0dc 63%, #e4e3df 63%, #e6e5e1 65%, #e4e3df 65%, #e6e5e1 66%, #e6e5e1 67%, #e4e3df 67%, #e6e5e1 68%, #e5e4e0 69%, #e2e1dd 69%, #e4e3df 69%, #e1e0dc 70%, #e4e3df 70%, #e2e1dd 72%, #e5e4e0 73%, #e3e2dd 73%, #e5e4df 74%, #e1e0db 75%, #e5e4df 75%, #e1e0db 76%, #e5e4df 76%, #e2e1dc 76%, #dfded9 77%, #e4e3de 78%, #deddd8 79%, #e3e2dd 79%, #e1e0db 80%, #e3e2dd 80%, #e0dfda 80%, #e4e3de 81%, #dfded9 81%, #e2e1dc 83%, #dcdbd6 84%, #deddd8 84%, #d9d8d3 84%, #dedbd4 85%, #dedbd4 85%, #d8d5ce 86%, #dedbd4 87%, #dcd9d2 87%, #dedbd4 89%, #d9d6cf 89%, #dedbd4 89%, #dfdcd5 90%, #dddad3 90%, #dddad3 91%, #d9d7cb 92%, #dbd9cd 92%, #d9d7cb 92%, #dcdace 92%, #dcdace 93%, #d7d5c9 93%, #dddbcf 94%, #dddbcf 94%, #d7d5c9 94%, #dddbcf 95%, #dddbcf 96%, #e1dfd3 96%, #dcdace 96%, #dddbcf 97%, #d9d7cb 97%, #dddbcf 97%, #d6d4c8 98%, #ddd9cd 98%, #dbd7cb 99%, #ddd9cd 99%, #dad6ca 100%); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f2f3e5), color-stop(2%, #f1f1e9), color-stop(2%, #f2f2e8), color-stop(3%, #eeeee2), color-stop(3%, #eeeee2), color-stop(4%, #f3f3e7), color-stop(4%, #eeeee2), color-stop(6%, #ecece0), color-stop(7%, #f0f0e4), color-stop(8%, #eaeade), color-stop(8%, #edede1), color-stop(8%, #efefe3), color-stop(9%, #efefe3), color-stop(9%, #ecece0), color-stop(9%, #ecece0), color-stop(10%, #f0f0e4), color-stop(10%, #edede1), color-stop(11%, #ebebdf), color-stop(11%, #ecece2), color-stop(11%, #eeeee6), color-stop(12%, #edede5), color-stop(13%, #f1f1e9), color-stop(13%, #e9e9e1), color-stop(13%, #efefe5), color-stop(14%, #ecece0), color-stop(14%, #ecece0), color-stop(14%, #e8e8dc), color-stop(15%, #eaeade), color-stop(15%, #f7f7eb), color-stop(15%, #f8f8ec), color-stop(15%, #efefe5), color-stop(16%, #eaeae2), color-stop(17%, #f0f0e8), color-stop(17%, #ecece4), color-stop(18%, #f0f0e8), color-stop(18%, #edede5), color-stop(18%, #eeeee6), color-stop(18%, #ebebe3), color-stop(19%, #f0f0e8), color-stop(19%, #ecece4), color-stop(19%, #efefe7), color-stop(20%, #eaeae2), color-stop(22%, #edede5), color-stop(22%, #e7e8e0), color-stop(23%, #eaebe3), color-stop(23%, #e7e8e0), color-stop(23%, #ebece4), color-stop(24%, #e7e8e0), color-stop(24%, #e7e8e0), color-stop(24%, #eaebe5), color-stop(25%, #eaebe5), color-stop(26%, #e7e8e2), color-stop(26%, #e7e8e2), color-stop(27%, #e9eae4), color-stop(27%, #e8e7e2), color-stop(27%, #ebeae5), color-stop(27%, #e3e2dd), color-stop(28%, #e6e5e0), color-stop(28%, #e1e0db), color-stop(28%, #e3e2dd), color-stop(29%, #e2e1dc), color-stop(29%, #e5e5dd), color-stop(29%, #e2e2da), color-stop(30%, #e7e7df), color-stop(31%, #e9e9e1), color-stop(31%, #e7e6e1), color-stop(32%, #e9e8e3), color-stop(32%, #e4e3de), color-stop(32%, #e9e8e3), color-stop(33%, #e4e3de), color-stop(34%, #e7e6e1), color-stop(34%, #e0dfda), color-stop(34%, #e3e2dd), color-stop(34%, #e4e3de), color-stop(34%, #e9e8e3), color-stop(37%, #eae9e4), color-stop(37%, #e6e5e0), color-stop(37%, #e9e8e3), color-stop(38%, #e6e5e0), color-stop(38%, #ebeae6), color-stop(38%, #e7e6e2), color-stop(39%, #e9e8e4), color-stop(39%, #e6e5e1), color-stop(42%, #e8e7e3), color-stop(43%, #e3e2de), color-stop(44%, #e9e8e4), color-stop(44%, #e7e6e2), color-stop(44%, #e9e8e4), color-stop(45%, #e6e5e1), color-stop(45%, #e8e7e3), color-stop(45%, #e6e5e1), color-stop(45%, #e8e7e3), color-stop(46%, #e6e5e1), color-stop(48%, #e7e6e2), color-stop(48%, #e3e2de), color-stop(49%, #e4e3df), color-stop(49%, #e2e1dd), color-stop(49%, #e5e6e1), color-stop(50%, #e2e3de), color-stop(50%, #e4e5e0), color-stop(50%, #e1e2dd), color-stop(51%, #e6e7e2), color-stop(53%, #e4e3df), color-stop(53%, #e2e1dd), color-stop(54%, #e7e6e2), color-stop(56%, #e2e3dd), color-stop(56%, #e4e5df), color-stop(57%, #e2e3dd), color-stop(57%, #e7e8e2), color-stop(58%, #e3e4de), color-stop(59%, #e6e7e2), color-stop(60%, #e2e3de), color-stop(60%, #e8e7e3), color-stop(61%, #e2e1dd), color-stop(61%, #e6e5e1), color-stop(62%, #e3e2de), color-stop(62%, #e7e6e2), color-stop(63%, #e1e0dc), color-stop(63%, #e4e3df), color-stop(65%, #e6e5e1), color-stop(65%, #e4e3df), color-stop(66%, #e6e5e1), color-stop(67%, #e6e5e1), color-stop(67%, #e4e3df), color-stop(68%, #e6e5e1), color-stop(69%, #e5e4e0), color-stop(69%, #e2e1dd), color-stop(69%, #e4e3df), color-stop(70%, #e1e0dc), color-stop(70%, #e4e3df), color-stop(72%, #e2e1dd), color-stop(73%, #e5e4e0), color-stop(73%, #e3e2dd), color-stop(74%, #e5e4df), color-stop(75%, #e1e0db), color-stop(75%, #e5e4df), color-stop(76%, #e1e0db), color-stop(76%, #e5e4df), color-stop(76%, #e2e1dc), color-stop(77%, #dfded9), color-stop(78%, #e4e3de), color-stop(79%, #deddd8), color-stop(79%, #e3e2dd), color-stop(80%, #e1e0db), color-stop(80%, #e3e2dd), color-stop(80%, #e0dfda), color-stop(81%, #e4e3de), color-stop(81%, #dfded9), color-stop(83%, #e2e1dc), color-stop(84%, #dcdbd6), color-stop(84%, #deddd8), color-stop(84%, #d9d8d3), color-stop(85%, #dedbd4), color-stop(85%, #dedbd4), color-stop(86%, #d8d5ce), color-stop(87%, #dedbd4), color-stop(87%, #dcd9d2), color-stop(89%, #dedbd4), color-stop(89%, #d9d6cf), color-stop(89%, #dedbd4), color-stop(90%, #dfdcd5), color-stop(90%, #dddad3), color-stop(91%, #dddad3), color-stop(92%, #d9d7cb), color-stop(92%, #dbd9cd), color-stop(92%, #d9d7cb), color-stop(92%, #dcdace), color-stop(93%, #dcdace), color-stop(93%, #d7d5c9), color-stop(94%, #dddbcf), color-stop(94%, #dddbcf), color-stop(94%, #d7d5c9), color-stop(95%, #dddbcf), color-stop(96%, #dddbcf), color-stop(96%, #e1dfd3), color-stop(96%, #dcdace), color-stop(97%, #dddbcf), color-stop(97%, #d9d7cb), color-stop(97%, #dddbcf), color-stop(98%, #d6d4c8), color-stop(98%, #ddd9cd), color-stop(99%, #dbd7cb), color-stop(99%, #ddd9cd), color-stop(100%, #dad6ca)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(-45deg, #f2f3e5 0%, #f1f1e9 2%, #f2f2e8 2%, #eeeee2 3%, #eeeee2 3%, #f3f3e7 4%, #eeeee2 4%, #ecece0 6%, #f0f0e4 7%, #eaeade 8%, #edede1 8%, #efefe3 8%, #efefe3 9%, #ecece0 9%, #ecece0 9%, #f0f0e4 10%, #edede1 10%, #ebebdf 11%, #ecece2 11%, #eeeee6 11%, #edede5 12%, #f1f1e9 13%, #e9e9e1 13%, #efefe5 13%, #ecece0 14%, #ecece0 14%, #e8e8dc 14%, #eaeade 15%, #f7f7eb 15%, #f8f8ec 15%, #efefe5 15%, #eaeae2 16%, #f0f0e8 17%, #ecece4 17%, #f0f0e8 18%, #edede5 18%, #eeeee6 18%, #ebebe3 18%, #f0f0e8 19%, #ecece4 19%, #efefe7 19%, #eaeae2 20%, #edede5 22%, #e7e8e0 22%, #eaebe3 23%, #e7e8e0 23%, #ebece4 23%, #e7e8e0 24%, #e7e8e0 24%, #eaebe5 24%, #eaebe5 25%, #e7e8e2 26%, #e7e8e2 26%, #e9eae4 27%, #e8e7e2 27%, #ebeae5 27%, #e3e2dd 27%, #e6e5e0 28%, #e1e0db 28%, #e3e2dd 28%, #e2e1dc 29%, #e5e5dd 29%, #e2e2da 29%, #e7e7df 30%, #e9e9e1 31%, #e7e6e1 31%, #e9e8e3 32%, #e4e3de 32%, #e9e8e3 32%, #e4e3de 33%, #e7e6e1 34%, #e0dfda 34%, #e3e2dd 34%, #e4e3de 34%, #e9e8e3 34%, #eae9e4 37%, #e6e5e0 37%, #e9e8e3 37%, #e6e5e0 38%, #ebeae6 38%, #e7e6e2 38%, #e9e8e4 39%, #e6e5e1 39%, #e8e7e3 42%, #e3e2de 43%, #e9e8e4 44%, #e7e6e2 44%, #e9e8e4 44%, #e6e5e1 45%, #e8e7e3 45%, #e6e5e1 45%, #e8e7e3 45%, #e6e5e1 46%, #e7e6e2 48%, #e3e2de 48%, #e4e3df 49%, #e2e1dd 49%, #e5e6e1 49%, #e2e3de 50%, #e4e5e0 50%, #e1e2dd 50%, #e6e7e2 51%, #e4e3df 53%, #e2e1dd 53%, #e7e6e2 54%, #e2e3dd 56%, #e4e5df 56%, #e2e3dd 57%, #e7e8e2 57%, #e3e4de 58%, #e6e7e2 59%, #e2e3de 60%, #e8e7e3 60%, #e2e1dd 61%, #e6e5e1 61%, #e3e2de 62%, #e7e6e2 62%, #e1e0dc 63%, #e4e3df 63%, #e6e5e1 65%, #e4e3df 65%, #e6e5e1 66%, #e6e5e1 67%, #e4e3df 67%, #e6e5e1 68%, #e5e4e0 69%, #e2e1dd 69%, #e4e3df 69%, #e1e0dc 70%, #e4e3df 70%, #e2e1dd 72%, #e5e4e0 73%, #e3e2dd 73%, #e5e4df 74%, #e1e0db 75%, #e5e4df 75%, #e1e0db 76%, #e5e4df 76%, #e2e1dc 76%, #dfded9 77%, #e4e3de 78%, #deddd8 79%, #e3e2dd 79%, #e1e0db 80%, #e3e2dd 80%, #e0dfda 80%, #e4e3de 81%, #dfded9 81%, #e2e1dc 83%, #dcdbd6 84%, #deddd8 84%, #d9d8d3 84%, #dedbd4 85%, #dedbd4 85%, #d8d5ce 86%, #dedbd4 87%, #dcd9d2 87%, #dedbd4 89%, #d9d6cf 89%, #dedbd4 89%, #dfdcd5 90%, #dddad3 90%, #dddad3 91%, #d9d7cb 92%, #dbd9cd 92%, #d9d7cb 92%, #dcdace 92%, #dcdace 93%, #d7d5c9 93%, #dddbcf 94%, #dddbcf 94%, #d7d5c9 94%, #dddbcf 95%, #dddbcf 96%, #e1dfd3 96%, #dcdace 96%, #dddbcf 97%, #d9d7cb 97%, #dddbcf 97%, #d6d4c8 98%, #ddd9cd 98%, #dbd7cb 99%, #ddd9cd 99%, #dad6ca 100%); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(-45deg, #f2f3e5 0%, #f1f1e9 2%, #f2f2e8 2%, #eeeee2 3%, #eeeee2 3%, #f3f3e7 4%, #eeeee2 4%, #ecece0 6%, #f0f0e4 7%, #eaeade 8%, #edede1 8%, #efefe3 8%, #efefe3 9%, #ecece0 9%, #ecece0 9%, #f0f0e4 10%, #edede1 10%, #ebebdf 11%, #ecece2 11%, #eeeee6 11%, #edede5 12%, #f1f1e9 13%, #e9e9e1 13%, #efefe5 13%, #ecece0 14%, #ecece0 14%, #e8e8dc 14%, #eaeade 15%, #f7f7eb 15%, #f8f8ec 15%, #efefe5 15%, #eaeae2 16%, #f0f0e8 17%, #ecece4 17%, #f0f0e8 18%, #edede5 18%, #eeeee6 18%, #ebebe3 18%, #f0f0e8 19%, #ecece4 19%, #efefe7 19%, #eaeae2 20%, #edede5 22%, #e7e8e0 22%, #eaebe3 23%, #e7e8e0 23%, #ebece4 23%, #e7e8e0 24%, #e7e8e0 24%, #eaebe5 24%, #eaebe5 25%, #e7e8e2 26%, #e7e8e2 26%, #e9eae4 27%, #e8e7e2 27%, #ebeae5 27%, #e3e2dd 27%, #e6e5e0 28%, #e1e0db 28%, #e3e2dd 28%, #e2e1dc 29%, #e5e5dd 29%, #e2e2da 29%, #e7e7df 30%, #e9e9e1 31%, #e7e6e1 31%, #e9e8e3 32%, #e4e3de 32%, #e9e8e3 32%, #e4e3de 33%, #e7e6e1 34%, #e0dfda 34%, #e3e2dd 34%, #e4e3de 34%, #e9e8e3 34%, #eae9e4 37%, #e6e5e0 37%, #e9e8e3 37%, #e6e5e0 38%, #ebeae6 38%, #e7e6e2 38%, #e9e8e4 39%, #e6e5e1 39%, #e8e7e3 42%, #e3e2de 43%, #e9e8e4 44%, #e7e6e2 44%, #e9e8e4 44%, #e6e5e1 45%, #e8e7e3 45%, #e6e5e1 45%, #e8e7e3 45%, #e6e5e1 46%, #e7e6e2 48%, #e3e2de 48%, #e4e3df 49%, #e2e1dd 49%, #e5e6e1 49%, #e2e3de 50%, #e4e5e0 50%, #e1e2dd 50%, #e6e7e2 51%, #e4e3df 53%, #e2e1dd 53%, #e7e6e2 54%, #e2e3dd 56%, #e4e5df 56%, #e2e3dd 57%, #e7e8e2 57%, #e3e4de 58%, #e6e7e2 59%, #e2e3de 60%, #e8e7e3 60%, #e2e1dd 61%, #e6e5e1 61%, #e3e2de 62%, #e7e6e2 62%, #e1e0dc 63%, #e4e3df 63%, #e6e5e1 65%, #e4e3df 65%, #e6e5e1 66%, #e6e5e1 67%, #e4e3df 67%, #e6e5e1 68%, #e5e4e0 69%, #e2e1dd 69%, #e4e3df 69%, #e1e0dc 70%, #e4e3df 70%, #e2e1dd 72%, #e5e4e0 73%, #e3e2dd 73%, #e5e4df 74%, #e1e0db 75%, #e5e4df 75%, #e1e0db 76%, #e5e4df 76%, #e2e1dc 76%, #dfded9 77%, #e4e3de 78%, #deddd8 79%, #e3e2dd 79%, #e1e0db 80%, #e3e2dd 80%, #e0dfda 80%, #e4e3de 81%, #dfded9 81%, #e2e1dc 83%, #dcdbd6 84%, #deddd8 84%, #d9d8d3 84%, #dedbd4 85%, #dedbd4 85%, #d8d5ce 86%, #dedbd4 87%, #dcd9d2 87%, #dedbd4 89%, #d9d6cf 89%, #dedbd4 89%, #dfdcd5 90%, #dddad3 90%, #dddad3 91%, #d9d7cb 92%, #dbd9cd 92%, #d9d7cb 92%, #dcdace 92%, #dcdace 93%, #d7d5c9 93%, #dddbcf 94%, #dddbcf 94%, #d7d5c9 94%, #dddbcf 95%, #dddbcf 96%, #e1dfd3 96%, #dcdace 96%, #dddbcf 97%, #d9d7cb 97%, #dddbcf 97%, #d6d4c8 98%, #ddd9cd 98%, #dbd7cb 99%, #ddd9cd 99%, #dad6ca 100%); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(-45deg, #f2f3e5 0%, #f1f1e9 2%, #f2f2e8 2%, #eeeee2 3%, #eeeee2 3%, #f3f3e7 4%, #eeeee2 4%, #ecece0 6%, #f0f0e4 7%, #eaeade 8%, #edede1 8%, #efefe3 8%, #efefe3 9%, #ecece0 9%, #ecece0 9%, #f0f0e4 10%, #edede1 10%, #ebebdf 11%, #ecece2 11%, #eeeee6 11%, #edede5 12%, #f1f1e9 13%, #e9e9e1 13%, #efefe5 13%, #ecece0 14%, #ecece0 14%, #e8e8dc 14%, #eaeade 15%, #f7f7eb 15%, #f8f8ec 15%, #efefe5 15%, #eaeae2 16%, #f0f0e8 17%, #ecece4 17%, #f0f0e8 18%, #edede5 18%, #eeeee6 18%, #ebebe3 18%, #f0f0e8 19%, #ecece4 19%, #efefe7 19%, #eaeae2 20%, #edede5 22%, #e7e8e0 22%, #eaebe3 23%, #e7e8e0 23%, #ebece4 23%, #e7e8e0 24%, #e7e8e0 24%, #eaebe5 24%, #eaebe5 25%, #e7e8e2 26%, #e7e8e2 26%, #e9eae4 27%, #e8e7e2 27%, #ebeae5 27%, #e3e2dd 27%, #e6e5e0 28%, #e1e0db 28%, #e3e2dd 28%, #e2e1dc 29%, #e5e5dd 29%, #e2e2da 29%, #e7e7df 30%, #e9e9e1 31%, #e7e6e1 31%, #e9e8e3 32%, #e4e3de 32%, #e9e8e3 32%, #e4e3de 33%, #e7e6e1 34%, #e0dfda 34%, #e3e2dd 34%, #e4e3de 34%, #e9e8e3 34%, #eae9e4 37%, #e6e5e0 37%, #e9e8e3 37%, #e6e5e0 38%, #ebeae6 38%, #e7e6e2 38%, #e9e8e4 39%, #e6e5e1 39%, #e8e7e3 42%, #e3e2de 43%, #e9e8e4 44%, #e7e6e2 44%, #e9e8e4 44%, #e6e5e1 45%, #e8e7e3 45%, #e6e5e1 45%, #e8e7e3 45%, #e6e5e1 46%, #e7e6e2 48%, #e3e2de 48%, #e4e3df 49%, #e2e1dd 49%, #e5e6e1 49%, #e2e3de 50%, #e4e5e0 50%, #e1e2dd 50%, #e6e7e2 51%, #e4e3df 53%, #e2e1dd 53%, #e7e6e2 54%, #e2e3dd 56%, #e4e5df 56%, #e2e3dd 57%, #e7e8e2 57%, #e3e4de 58%, #e6e7e2 59%, #e2e3de 60%, #e8e7e3 60%, #e2e1dd 61%, #e6e5e1 61%, #e3e2de 62%, #e7e6e2 62%, #e1e0dc 63%, #e4e3df 63%, #e6e5e1 65%, #e4e3df 65%, #e6e5e1 66%, #e6e5e1 67%, #e4e3df 67%, #e6e5e1 68%, #e5e4e0 69%, #e2e1dd 69%, #e4e3df 69%, #e1e0dc 70%, #e4e3df 70%, #e2e1dd 72%, #e5e4e0 73%, #e3e2dd 73%, #e5e4df 74%, #e1e0db 75%, #e5e4df 75%, #e1e0db 76%, #e5e4df 76%, #e2e1dc 76%, #dfded9 77%, #e4e3de 78%, #deddd8 79%, #e3e2dd 79%, #e1e0db 80%, #e3e2dd 80%, #e0dfda 80%, #e4e3de 81%, #dfded9 81%, #e2e1dc 83%, #dcdbd6 84%, #deddd8 84%, #d9d8d3 84%, #dedbd4 85%, #dedbd4 85%, #d8d5ce 86%, #dedbd4 87%, #dcd9d2 87%, #dedbd4 89%, #d9d6cf 89%, #dedbd4 89%, #dfdcd5 90%, #dddad3 90%, #dddad3 91%, #d9d7cb 92%, #dbd9cd 92%, #d9d7cb 92%, #dcdace 92%, #dcdace 93%, #d7d5c9 93%, #dddbcf 94%, #dddbcf 94%, #d7d5c9 94%, #dddbcf 95%, #dddbcf 96%, #e1dfd3 96%, #dcdace 96%, #dddbcf 97%, #d9d7cb 97%, #dddbcf 97%, #d6d4c8 98%, #ddd9cd 98%, #dbd7cb 99%, #ddd9cd 99%, #dad6ca 100%); !* IE10+ *!*/
    /*background: linear-gradient(135deg, #f2f3e5 0%, #f1f1e9 2%, #f2f2e8 2%, #eeeee2 3%, #eeeee2 3%, #f3f3e7 4%, #eeeee2 4%, #ecece0 6%, #f0f0e4 7%, #eaeade 8%, #edede1 8%, #efefe3 8%, #efefe3 9%, #ecece0 9%, #ecece0 9%, #f0f0e4 10%, #edede1 10%, #ebebdf 11%, #ecece2 11%, #eeeee6 11%, #edede5 12%, #f1f1e9 13%, #e9e9e1 13%, #efefe5 13%, #ecece0 14%, #ecece0 14%, #e8e8dc 14%, #eaeade 15%, #f7f7eb 15%, #f8f8ec 15%, #efefe5 15%, #eaeae2 16%, #f0f0e8 17%, #ecece4 17%, #f0f0e8 18%, #edede5 18%, #eeeee6 18%, #ebebe3 18%, #f0f0e8 19%, #ecece4 19%, #efefe7 19%, #eaeae2 20%, #edede5 22%, #e7e8e0 22%, #eaebe3 23%, #e7e8e0 23%, #ebece4 23%, #e7e8e0 24%, #e7e8e0 24%, #eaebe5 24%, #eaebe5 25%, #e7e8e2 26%, #e7e8e2 26%, #e9eae4 27%, #e8e7e2 27%, #ebeae5 27%, #e3e2dd 27%, #e6e5e0 28%, #e1e0db 28%, #e3e2dd 28%, #e2e1dc 29%, #e5e5dd 29%, #e2e2da 29%, #e7e7df 30%, #e9e9e1 31%, #e7e6e1 31%, #e9e8e3 32%, #e4e3de 32%, #e9e8e3 32%, #e4e3de 33%, #e7e6e1 34%, #e0dfda 34%, #e3e2dd 34%, #e4e3de 34%, #e9e8e3 34%, #eae9e4 37%, #e6e5e0 37%, #e9e8e3 37%, #e6e5e0 38%, #ebeae6 38%, #e7e6e2 38%, #e9e8e4 39%, #e6e5e1 39%, #e8e7e3 42%, #e3e2de 43%, #e9e8e4 44%, #e7e6e2 44%, #e9e8e4 44%, #e6e5e1 45%, #e8e7e3 45%, #e6e5e1 45%, #e8e7e3 45%, #e6e5e1 46%, #e7e6e2 48%, #e3e2de 48%, #e4e3df 49%, #e2e1dd 49%, #e5e6e1 49%, #e2e3de 50%, #e4e5e0 50%, #e1e2dd 50%, #e6e7e2 51%, #e4e3df 53%, #e2e1dd 53%, #e7e6e2 54%, #e2e3dd 56%, #e4e5df 56%, #e2e3dd 57%, #e7e8e2 57%, #e3e4de 58%, #e6e7e2 59%, #e2e3de 60%, #e8e7e3 60%, #e2e1dd 61%, #e6e5e1 61%, #e3e2de 62%, #e7e6e2 62%, #e1e0dc 63%, #e4e3df 63%, #e6e5e1 65%, #e4e3df 65%, #e6e5e1 66%, #e6e5e1 67%, #e4e3df 67%, #e6e5e1 68%, #e5e4e0 69%, #e2e1dd 69%, #e4e3df 69%, #e1e0dc 70%, #e4e3df 70%, #e2e1dd 72%, #e5e4e0 73%, #e3e2dd 73%, #e5e4df 74%, #e1e0db 75%, #e5e4df 75%, #e1e0db 76%, #e5e4df 76%, #e2e1dc 76%, #dfded9 77%, #e4e3de 78%, #deddd8 79%, #e3e2dd 79%, #e1e0db 80%, #e3e2dd 80%, #e0dfda 80%, #e4e3de 81%, #dfded9 81%, #e2e1dc 83%, #dcdbd6 84%, #deddd8 84%, #d9d8d3 84%, #dedbd4 85%, #dedbd4 85%, #d8d5ce 86%, #dedbd4 87%, #dcd9d2 87%, #dedbd4 89%, #d9d6cf 89%, #dedbd4 89%, #dfdcd5 90%, #dddad3 90%, #dddad3 91%, #d9d7cb 92%, #dbd9cd 92%, #d9d7cb 92%, #dcdace 92%, #dcdace 93%, #d7d5c9 93%, #dddbcf 94%, #dddbcf 94%, #d7d5c9 94%, #dddbcf 95%, #dddbcf 96%, #e1dfd3 96%, #dcdace 96%, #dddbcf 97%, #d9d7cb 97%, #dddbcf 97%, #d6d4c8 98%, #ddd9cd 98%, #dbd7cb 99%, #ddd9cd 99%, #dad6ca 100%); !* W3C *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f3e5', endColorstr='#dad6ca', GradientType=1); !* IE6-9 fallback on horizontal gradient *!*/
    /*background-attachment: fixed;*/

    /*background-color: #006699;*/

    /*background: rgba(73,155,234,1);*/
    /*background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(61,146,233,0.61) 30%, rgba(50,137,231,0.61) 57%, rgba(41,131,230,0.61) 78%, rgba(32,124,229,1) 100%);*/
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(30%, rgba(61,146,233,0.61)), color-stop(57%, rgba(50,137,231,0.61)), color-stop(78%, rgba(41,131,230,0.61)), color-stop(100%, rgba(32,124,229,1)));*/
    /*background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(61,146,233,0.61) 30%, rgba(50,137,231,0.61) 57%, rgba(41,131,230,0.61) 78%, rgba(32,124,229,1) 100%);*/
    /*background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(61,146,233,0.61) 30%, rgba(50,137,231,0.61) 57%, rgba(41,131,230,0.61) 78%, rgba(32,124,229,1) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(61,146,233,0.61) 30%, rgba(50,137,231,0.61) 57%, rgba(41,131,230,0.61) 78%, rgba(32,124,229,1) 100%);*/
    /*background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(61,146,233,0.61) 30%, rgba(50,137,231,0.61) 57%, rgba(41,131,230,0.61) 78%, rgba(32,124,229,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );*/

    /*background: rgba(179,220,237,1);*/
    /*background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 18%, rgba(188,224,238,1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(18%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));*/
    /*background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 18%, rgba(188,224,238,1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 18%, rgba(188,224,238,1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 18%, rgba(188,224,238,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 18%, rgba(188,224,238,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );*/

    /*background: rgba(14,14,15,1);*/
    /*background: -moz-linear-gradient(left, rgba(14,14,15,1) 0%, rgba(14,14,15,0.61) 10%, rgba(12,12,12,0.61) 55%, rgba(10,10,10,0.61) 92%, rgba(10,10,10,1) 100%);*/
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(14,14,15,1)), color-stop(10%, rgba(14,14,15,0.61)), color-stop(55%, rgba(12,12,12,0.61)), color-stop(92%, rgba(10,10,10,0.61)), color-stop(100%, rgba(10,10,10,1)));*/
    /*background: -webkit-linear-gradient(left, rgba(14,14,15,1) 0%, rgba(14,14,15,0.61) 10%, rgba(12,12,12,0.61) 55%, rgba(10,10,10,0.61) 92%, rgba(10,10,10,1) 100%);*/
    /*background: -o-linear-gradient(left, rgba(14,14,15,1) 0%, rgba(14,14,15,0.61) 10%, rgba(12,12,12,0.61) 55%, rgba(10,10,10,0.61) 92%, rgba(10,10,10,1) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(14,14,15,1) 0%, rgba(14,14,15,0.61) 10%, rgba(12,12,12,0.61) 55%, rgba(10,10,10,0.61) 92%, rgba(10,10,10,1) 100%);*/
    /*background: linear-gradient(to right, rgba(14,14,15,1) 0%, rgba(14,14,15,0.61) 10%, rgba(12,12,12,0.61) 55%, rgba(10,10,10,0.61) 92%, rgba(10,10,10,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0f', endColorstr='#0a0a0a', GradientType=1 );*/

    /*background: rgba(14,14,15,1);*/
    /*background: -moz-linear-gradient(left, rgba(14,14,15,1) 0%, rgba(58,58,58,0.61) 10%, rgba(232,232,232,0.61) 50%, rgba(46,46,46,0.61) 92%, rgba(10,10,10,1) 100%);*/
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(14,14,15,1)), color-stop(10%, rgba(58,58,58,0.61)), color-stop(50%, rgba(232,232,232,0.61)), color-stop(92%, rgba(46,46,46,0.61)), color-stop(100%, rgba(10,10,10,1)));*/
    /*background: -webkit-linear-gradient(left, rgba(14,14,15,1) 0%, rgba(58,58,58,0.61) 10%, rgba(232,232,232,0.61) 50%, rgba(46,46,46,0.61) 92%, rgba(10,10,10,1) 100%);*/
    /*background: -o-linear-gradient(left, rgba(14,14,15,1) 0%, rgba(58,58,58,0.61) 10%, rgba(232,232,232,0.61) 50%, rgba(46,46,46,0.61) 92%, rgba(10,10,10,1) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(14,14,15,1) 0%, rgba(58,58,58,0.61) 10%, rgba(232,232,232,0.61) 50%, rgba(46,46,46,0.61) 92%, rgba(10,10,10,1) 100%);*/
    /*background: linear-gradient(to right, rgba(14,14,15,1) 0%, rgba(58,58,58,0.61) 10%, rgba(232,232,232,0.61) 50%, rgba(46,46,46,0.61) 92%, rgba(10,10,10,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0f', endColorstr='#0a0a0a', GradientType=1 );*/

    background: rgba(179,177,179,1);
    background: -moz-linear-gradient(left, rgba(179,177,179,1) 0%, rgba(202,200,202,1) 12%, rgba(254,254,254,1) 40%, rgba(254,254,254,1) 63%, rgba(254,254,254,1) 64%, rgba(179,177,179,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,177,179,1)), color-stop(12%, rgba(202,200,202,1)), color-stop(40%, rgba(254,254,254,1)), color-stop(63%, rgba(254,254,254,1)), color-stop(64%, rgba(254,254,254,1)), color-stop(100%, rgba(179,177,179,1)));
    background: -webkit-linear-gradient(left, rgba(179,177,179,1) 0%, rgba(202,200,202,1) 12%, rgba(254,254,254,1) 40%, rgba(254,254,254,1) 63%, rgba(254,254,254,1) 64%, rgba(179,177,179,1) 100%);
    background: -o-linear-gradient(left, rgba(179,177,179,1) 0%, rgba(202,200,202,1) 12%, rgba(254,254,254,1) 40%, rgba(254,254,254,1) 63%, rgba(254,254,254,1) 64%, rgba(179,177,179,1) 100%);
    background: -ms-linear-gradient(left, rgba(179,177,179,1) 0%, rgba(202,200,202,1) 12%, rgba(254,254,254,1) 40%, rgba(254,254,254,1) 63%, rgba(254,254,254,1) 64%, rgba(179,177,179,1) 100%);
    background: linear-gradient(to right, rgba(179,177,179,1) 0%, rgba(202,200,202,1) 12%, rgba(254,254,254,1) 40%, rgba(254,254,254,1) 63%, rgba(254,254,254,1) 64%, rgba(179,177,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b1b3', endColorstr='#b3b1b3', GradientType=1 );



}

/* --------------------------------------
   Typography
   -------------------------------------- */

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.well .page-header {
    margin-top: 0;
}

.well .page-header h1 {
    margin-top: 0;
}

ul.unstyled {
    list-style: none;
    padding: 0;
}

#loginBtn {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

footer {
    background: #333;
    color: #eee;
    font-size: 16px;
    padding: 20px;
}

/* --------------------------------------
   Products
   -------------------------------------- */

#features {
    text-align: center;
    padding-top: 20px;
}

#features img {
    margin: 0 0 20px;
}

.feature {
    margin: 10px;
    max-width: 225px;
    background: none;
    border: none;
}

.feature:hover {
    -webkit-filter: brightness(110%);
    cursor: pointer;
}

.panel {
    background: none;
    border: none;
    border-bottom: inset thin grey;
}

.ProductImageClass {
    transition: transform .2s; /* Animation */
}
.ProductImageClass:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* --------------------------------------
   Navbar
   -------------------------------------- */

.navbar {
    /*background-color: #a59191;*/
    /*background-color: darkgray;*/
    background: rgb(69,72,77);
    background: -moz-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
}


#searchInput {
    width: 300px;
}

.navbar-brand {
    padding: 0 0 0 10px;

}

#logoimg {
    max-width: 150px;
    max-height: 50px;
}

@media (max-width: 768px) {
    #productsDropdown {
        height: 300px;
        max-height: 300px;
        width: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    / / mobile safari
    }
}

.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}

.divider {
    width: 80%;
}

.breadcrumb a {
    color: #3a3c3c;
}

.breadcrumb a:hover {
    color: #c9302c;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */

.alert {
    margin-top: 20px;
    display: none;
}

.well {
    margin: 20px 0;
}

.tabbable img.thumbnail {
    margin: 0 20px 10px 0;
}

.thumbnails {
    margin: 20px 0;
}

.thumbnail {
    position: relative;
}

.thumbnail h3 {
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 20px;
}

.thumbnail .price {
    font-size: 20px;
    position: absolute;
    top: -7px;
    right: -10px;
    padding: 4px;
}

.thumbnail .price sup {
    font-weight: normal;
    font-size: 20px;
    top: -2px;
}

.thumbnail span.glyphicon {
    margin-right: 5px;
}

/* Landscape phone to portrait tablet */

@media (min-width: 1200px) {
    .container {
        max-width: 1800px !important;
    }

    .heading {
        margin: 60px 0 0 0 !important;
    }
}

@media (min-width: 768px) {
    .heading {
        margin: 100px 0 0 0;
    }

    #myCarousel {
        margin: 70px 0 0 0;
    }
}


.icon-bar {
    background: black !important;
}

.navbar-toggle {
    background: darkgray;
}

/* --------------------------------------
   Terms
   -------------------------------------- */
#termsOfUseWrapper {
    z-index: 9000;
    opacity: .96;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    position: absolute;
    /*display: none;*/
}

#termsOfUse {
    width: 60%;
    height: 100%;
    margin-left: 20%;
    padding: 100px 0 50px 0;
}

/*terms of use exit option*/
.termsExit {
    float: right;
    margin: 50px 100px 0 0;

}



.activeTab {
    /*background-color: lightskyblue!important;*/
    /*color: black!important;*/
    font-weight: bold!important;
    /*border-bottom: 5px solid #80852B;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbdd+92,fffcf1+100&0+85,1+100 */
    background: -moz-linear-gradient(top, rgba(251,251,221,0) 85%, rgba(251,251,221,0.47) 92%, rgba(255,252,241,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(251,251,221,0) 85%,rgba(251,251,221,0.47) 92%,rgba(255,252,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(251,251,221,0) 85%,rgba(251,251,221,0.47) 92%,rgba(255,252,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fbfbdd', endColorstr='#fffcf1',GradientType=0 ); /* IE6-9 */

}
.menuCaret{
    color: white;
    border-bottom-color: white!important;
    border-top-color: white!important;
}

.headerTab{
    font-weight: bold;
    font-size: medium;
    color: white!important;
}

.headerDropdown:focus{
    background-color: #5E5E5E!important;
    color: #E9E9E9!important;

}

.headerTab:focus{

    /*background-color: #5bc0de!important;*/
    /*color: black!important;*/
    -webkit-filter: brightness(110%);
}

.headerTab:hover{
    /*background: -moz-radial-gradient(center, ellipse cover, rgba(30,87,153,1) 0%, rgba(30,87,153,0.35) 65%, rgba(125,185,232,0) 100%);*/
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(30,87,153,1) 0%,rgba(30,87,153,0.35) 65%,rgba(125,185,232,0) 100%);*/
    /*background: radial-gradient(ellipse at center, rgba(30,87,153,1) 0%,rgba(30,87,153,0.35) 65%,rgba(125,185,232,0) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 );*/

    background: -moz-radial-gradient(center, ellipse cover, rgba(30,87,153,1) 0%, rgba(97,157,209,0) 71%, rgba(125,185,232,0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(30,87,153,1) 0%,rgba(97,157,209,0) 71%,rgba(125,185,232,0) 100%);
    background: radial-gradient(ellipse at center, rgba(30,87,153,1) 0%,rgba(97,157,209,0) 71%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 );


}
#navigation{
    /*background: rgba(173,173,173,1);*/
    /*background: -moz-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(161,152,152,0.95) 20%, rgba(235,233,249,0.77) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,173,173,1)), color-stop(20%, rgba(161,152,152,0.95)), color-stop(100%, rgba(235,233,249,0.77)));*/
    /*background: -webkit-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(161,152,152,0.95) 20%, rgba(235,233,249,0.77) 100%);*/
    /*background: -o-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(161,152,152,0.95) 20%, rgba(235,233,249,0.77) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(173,173,173,1) 0%, rgba(161,152,152,0.95) 20%, rgba(235,233,249,0.77) 100%);*/
    /*background: linear-gradient(to bottom, rgba(173,173,173,1) 0%, rgba(161,152,152,0.95) 20%, rgba(235,233,249,0.77) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#ebe9f9', GradientType=0 );*/
    /*opacity: 1;*/


}

.breadcrumb > li + li:before {
    color: darkred;
}