/* --------------------------------------
   Layout
   -------------------------------------- */

#features {
    text-align: center;
}

#features img {
    margin: 0 0 20px;

}

.feature {
    margin: 10px;
    max-width: 380px;
}

#inputMessage {
    margin-bottom: 15px;
}

.feature:hover img {
    -webkit-filter: brightness(130%);
}

/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
    margin-top: 80px;
}

.carousel-caption {
    font-size: 24px;
}

.carousel-caption h4 {
    font-size: 32px;
}

#myCarousel .item {
   height: 400px ;
}

#slide1 {
    background: url('../../images/carousel_medium_01.jpg') top center no-repeat;
}

#slide2 {
    background: url('../../images/carousel_medium_02.jpg') top center no-repeat;
}

#slide3 {
    background: url('../../images/carousel_medium_03.jpg') top center no-repeat;
}

/* --------------------------------------
   Products
   -------------------------------------- */

.feature {
    max-width: 375px !important;
}

.ProductImageClass {
    max-width: 285px;
    max-height: 250px;
}

.imgDiv {
    min-height: 220px;
    max-height: 220px;
}

.panel {
    min-height: 309px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

    .thumbnail .price {
        font-size: 14px;
    }

    .thumbnail .price sup {
        font-size: 10px;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    #myCarousel  .item{
        height: 310px;
    }

    #slide1 {
        background: url('../../images/carousel_small_01.jpg') top center no-repeat;
    }

    #slide2 {
        background: url('../../images/carousel_small_02.jpg') top center no-repeat;
    }

    #slide3 {
        background: url('../../images/carousel_small_03.jpg') top center no-repeat;
    }

    .carousel-caption {
        font-size: 16px;
    }

    .carousel-caption h4 {
        font-size: 22px;
    }

    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
        max-height: 200px;
    }

}
img {
    max-width: 100%;
    max-height: 100%;
}


@media (min-width: 1200px) {
    #myCarousel .item{
        height: 800px;
        background-size:100%;
        width: 100%;

    }
    #slide1 {
        background: url('../../images/slide1.jpg') top center no-repeat black ;
        background-size: contain!important;
    }

    #slide2 {
        background: url('../../images/slide2.jpg') top center no-repeat black;
        background-size: contain!important;
    }

    #slide3 {
    background: url('../../images/carousel_large_03.jpg') top center no-repeat black;
        background-size: contain!important;
    }
}

.signupFields{
    margin-top: 50px;
}
