.itemDesc {
    height: 40px;
    width: 100%;
    color: gray;

}

.itemTitle {
    width: 50%;
    border: none;
    font-size: 16px;
    color: #f03800;
    height: 2em;
    overflow: hidden;
    resize: none;
    text-transform: capitalize;
}

.itemEditableFields {
    background: #FFF;
    border: none;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.itemEditingMode {

    color: #000000;
    border: 1px solid #000;
}

.itemButtons {
    color: darkred;
    font-weight: bold;
    margin-left: 3em;
}
.editIcon:hover{
    cursor: pointer;
}

.inputDate{
    height: 34px;
    color: black;
}

.inputDate:disabled{
    background-color: transparent;
    border: none;
    color: black;
}

.couponText{
    color: black;
    -o-user-select: text !important;
    -moz-user-select: text!important;
    -webkit-user-select: text!important;
    user-select: text!important;
}

.couponText:disabled {
    background-color: transparent;
    border: none;
    color: black;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}