.gemDesc{
    height: 60px;
    width: 100%;
    color: gray;

}

.gemTitle{
    width: 50%;
    border: none;
    font-size: 16px;
    color: #f03800;
    height: 2em;
    overflow: hidden;
    resize: none;
}

.gemEditableFields{
    background: #FFF;
    border:none;
}

.gemEditingMode{

    color: #000000;
    border: 1px solid #000;
}

.gemButtons{
    color: darkred;
    font-weight: bold;
    margin-left:3em;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}