.itemDesc {
    height: 40px;
    width: 100%;
    color: gray;

}

.itemTitle {
    width: 50%;
    border: none;
    font-size: 16px;
    color: #f03800;
    height: 2em;
    overflow: hidden;
    resize: none;
    text-transform: capitalize;
}

.itemEditableFields {
    background: #FFF;
    border: none;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.itemEditingMode {

    color: #000000;
    border: 1px solid #000;
}

.itemButtons {
    color: darkred;
    font-weight: bold;
    margin-left: 3em;
}
.editIcon:hover{
    cursor: pointer;
}

.fa-edit{
    font-size: 20px;
}
.inputDate{
    height: 34px;
    color: black;
    width: 90%;
}

.inputDate:disabled{
    background-color: transparent;
    border: none;
    color: black;
}
.cancelEditBtn{
    padding-left: 5px;
    margin-left: 0!important;
    float: left;
}
.applyEditBtn{
    margin-left: 0!important;
    float: left;
}
.deleteBtn{
    padding-left: 15px;
    margin-left: 0!important;
    float: right;
}

.addBtn{
    margin-left: 0!important;
    float: left;
}

.tableText{
    color: black;
    -o-user-select: text !important;
    -moz-user-select: text!important;
    -webkit-user-select: text!important;
    user-select: text!important;
}
.table thead tr th, .addressRow{
    color: darkred;
}
.tableText:disabled {
    background-color: transparent;
    border: none;
    color: black;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.header .sign:after{
    content:"+";
    display:inline-block;
}
.addressRow th,.addressRow td {
    border: 0!important;
}

.table tbody tr td{
    border-top-color: gray;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#calendar{
    color: black;
    font-size: large;
}

.fc-row{
    height: 50%!important;
}